@media (max-width: 1024px) {
    body {
        flex-direction: column-reverse;
    }

    .sidebar {
        flex-direction: row;
        width: 100%;
        padding: 2px 16px;
        height: 80px;
    }

    .logo {
        display: none;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    nav a {
        flex-direction: column;
        justify-content: end;
        font-size: 12px;
        width: 80px;
        height: 76px;
        padding: 12px;
        gap: 4px;
        font-weight: 300;
        border-radius: 16px;
    }

    footer {
        display: none;
    }

    .container {
        height: calc(100dvh - 80px);
    }

    .main {
        height: calc(100dvh - 96px - 80px);
    }

    .header-content {
        padding: 20px 40px;
    }
}

@media (max-width: 600px) {
    .header-responsive-logo {
        display: block;
    }

    .header-content h2 {
        display: none;
    }

    .help-icon {
        display: none;
    }

    .user-info-links-help {
        display: block;
    }

    .info-pages-container {
        padding: 60px 40px;
    }
}

@media (max-width: 360px) {
    .sidebar {
        padding: 2px 4px;
    }

    .header-content {
        padding: 20px 16px;
    }

    .user-info-links {
        right: 16px;
    }

    .info-pages-container {
        padding: 60px 16px;
    }
}