* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 232px;
    background-color: #2A3647;
    color: #CDCDCD;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
}


.sidebar .logo img {
    height: 120px;
    width: 100px;

}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 56px;
    padding-left: 56px;
    gap: 8px;
}

.sidebar nav ul li a {
    color: #CDCDCD;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 8px;
}

.sidebar nav ul li a img {
    height: 30px;
    width: 30px;
}

.sidebar nav ul li a:hover {
    background-color: #34495e;
}

.sidebar footer {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
}

footer a {
    color: #A8A8A8;
    text-decoration: none;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
}

.header {
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 100px;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 2px 16px 7px rgba(0, 0, 0, 0.1);
}

.header h2 {
    font-size: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.user-info a:hover {
    cursor: pointer;
}

.username-icon:hover {
    background-color: aqua;
}


.content {
    background-color: #F6F7F8;
    flex-grow: 1;
}