* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 1440px;
}

h2 {
    font-size: 20px;
}

.sidebar {
    width: 232px;
    background-color: #2A3647;
    color: #CDCDCD;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

.sidebar .logo img {
    height: 120px;
    width: auto;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    padding: 15px;
}



.sidebar nav ul li a {
    color: #A8A8A8;
    text-decoration: none;
    display: block;
}

.sidebar nav ul li a:hover {
    background-color: #34495e;
}

.sidebar footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar footer a {
    color: #A8A8A8;
    text-decoration: none;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
}

.header h2 {
    margin: 0;
    padding-left: 200px;
}

.header .user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .user-info span {
    background-color: white;
    color: #29ABE2;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid black;
}

.header .user-info span:hover {
    cursor: pointer;
}


.header .user-info .help-icon {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.content {
    background-color: whitesmoke;
    flex-grow: 1;
    box-shadow: 0 8px 8px 2px rgba(0, 0, 0, 0.4);
}