
.task-view{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 220px;
    margin: 20px;
    border-radius: 8px;
}
.task-view h2{
    font-size: 16px;
    font-weight: 700;
}
.task-view p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(168,168,168);

}

.userStory{ 
    background-color: rgb(0,56,255);
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    border-radius: 8px;
    padding: 8px 20px;
}

.progress {
    background-color: #e9ecef;
    border-radius: 5px; 
    width: 80%; 
    height: 18px; 
   
    
}

.progress-wrapper {
    display: flex; 
    align-items: center;
    gap: 8px;
}


.progress {
    background-color: #e9ecef; 
    border-radius: 5px;
    width: 60%; 
    height: 8px; /* Matches the font-size */
    overflow: hidden; /* Ensures inner bar does not overflow */
}

/* Progress bar */
.progress-bar {
    background-color: #007bff; /* Bootstrap's blue color */
    height: 100%; /* Fills the container height */
    
}

/* Text beside the progress bar */
.progress-text {
    font-size: 12px; 
    
}