#add-task-title {
    margin-top: 60px;
    margin-left: 79px;
    margin-bottom: 20px;
    font-size: 40px;
}

.add-task-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 60px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

#description {
    margin-bottom: 20px;
}

#title {
    margin-bottom: 20px;
}

#due-date {
    margin-bottom: 20px;
}

#category {
    margin-bottom: 20px;
}




label {
    font-weight: bold;
}

input,
textarea,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    font-size: 16px;
}

.prio-options {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.prio-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.prio-btn.urgent {
    background-color: #FF3D00;
    color: white;
}

.prio-btn.medium {
    background-color: #FFA800;
    color: white;
}

.prio-btn.low {
    background-color: #7AE229;
    color: white;
}

.prio-btn.active {
    border: 2px solid #000;
}

.subtask-row {
    position: relative;
    width: 100%;
}

.add-subtask-btn {
    position: absolute;
    right: 190px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: #2A3647;
    cursor: pointer;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 180px;
    gap: 10px;
}

.cancel-btn,
.create-task-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cancel-btn {
    background-color: #f0f0f0;
    border: 1px solid #2A3647;
    color: #2A3647;
}

.create-task-btn {
    background-color: #2A3647;
    color: white;
}