.add-task-content {
    display: flex;
    flex-direction: column;
}

#add-task-title {
    padding: 32px 60px 16px;
    font-size: 40px;
}

.add-task-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 60px 32px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
}

.form-column.left {
    border-right: 1px solid #D1D1D1;
}

#description,
#title,
#due-date,
#category {
    cursor: pointer;
}

input,
textarea,
select {
    padding: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
}

input:focus,
textarea:focus,
select:focus {
    border: 1px solid #29ABE2;
    outline: none;
}

label {
    width:fit-content;
    cursor: pointer;
}

.error {
    font-size: 12px;
    color: #FF8190;
}

.prio-options {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.prio-btn {
    flex:1;
    padding: 12px 10px;
    border: unset;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    gap: 6px;
    font-size: 16px;
}

.prio-btn span {
    display: flex;
    align-items: center;
    height: 100%;
}

.prio-btn:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.prio-btn.active:hover {
    box-shadow: none;
}

.prio-btn.urgent,
.prio-btn.medium,
.prio-btn.low {
    background-color: white;
    color: black;
}

.prio-btn.urgent span {
    color: #FF3D00;
}

.prio-btn.medium span {
    color: #FFA800;
}

.prio-btn.low span {
    color: #7AE229;
}

.prio-btn.urgent.active,
.prio-btn.medium.active,
.prio-btn.low.active,
.prio-btn.urgent.active span,
.prio-btn.medium.active span,
.prio-btn.low.active span {
    font-weight: 700;
    color: white;
}

.prio-btn.urgent.active {
    background-color: #FF3D00;
}

.prio-btn.medium.active {
    background-color: #FFA800;
}

.prio-btn.low.active {
    background-color: #7AE229;
}

#subtasks,
#contactsToAssign {
    cursor: pointer;
}

.subtask-row {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.subtask-buttons,
.subtask-actions {
    position: absolute;
    height: 100%;
    right: 2%;
    display: flex;
    align-items: center;
}

.add-subtask-btn {
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #2A3647;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.clear-subtask-btn {
    display: none;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 12px;
    color: #2A3647;
    cursor: pointer;
    align-items: center;
    justify-content: center;

}

.add-subtask-btn::before,
.clear-subtask-btn::before {
    display: flex;
    align-items: center;
    padding: 4px;
}

.add-subtask-btn:hover::before,
.clear-subtask-btn:hover::before,
.subtask-actions button:hover {
    background-color: #f0f0f0;
    border-radius: 50%;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.add-task-button-wrapper {
    display: flex;
    gap: 16px;
}

.cancel-btn,
.create-task-btn {
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

.cancel-btn span,
.create-task-btn span {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 12px;
}

.cancel-btn {
    background-color: #f0f0f0;
    border: 1px solid #2A3647;
    color: #2A3647;
}

.create-task-btn {
    background-color: #2A3647;
    color: white;
}

.required {
    color: red;
}

.required-text {
    font-size: 12px;
    display: flex;
    align-items: end;
}

.cancel-btn:hover {
    color: #29abe2;
    border: 1px solid #29abe2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.create-task-btn:hover {
    background-color: #29abe2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.subtask-list {
    list-style: none;
    padding: 0;
    margin-top: 6px;
}

.subtask-actions button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.subtask-actions {
    visibility: hidden;
    position: absolute;
}

.subtask-item:hover {
    background-color: #eeeeee;
}

.subtask-item:hover .subtask-actions {
    visibility: visible;
}

.subtask-item {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 2px 18px;
    padding: 2px;
    position: relative;
}

.subtask-item span {
    flex: 1;
    cursor: pointer;
}

.subtask-item input {
    padding: 0;
    border:none;
    border-bottom: 1px solid #29ABE2;
    border-radius: 0;
}

.create-task-btn:disabled {
    background-color: grey;
    cursor: not-allowed;
}