.main {
    padding-bottom: 50px;
}

.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 60px;
    width: 100%;
    max-width: 1440px;
}

.right-board-header {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.board-header h1 {
    font-size: 50px;
}

.right-board-header input {
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    height: 30px;
    width: 350px;
    font-size: 20px;
    outline: none;
    padding: 24px 79px 24px 15px;
}

.right-board-header input:focus {
    border: 1px solid #29ABE2;
}

.right-board-header input::placeholder {
    color: #D1D1D1;
}

.search-label {
    position: relative;
}

.search-label span {
    border-left: 1px solid #D1D1D1;
    position: relative;
    right: 65px;
    padding: 8px 0 6px;
}

.search-label .icon-search {
    position: absolute;
    top: 16px;
    right: 25px;
    font-size: 18px;
}

.left-board-header button,
.right-board-header button {
    background: #2A3647;
    color: #fff;
    border-radius: 10px;
    padding: 0px 31px 0px 16px;
    font-size: 20px;
    cursor: pointer;
    border: solid 1px #2A3647;
    transition: all 0.1s ease;
    outline: none;
    font-weight: 600;
}

.right-board-header button::after {
    font-family: "join-icon";
    font-weight: 100;
    content: "\61";
    position: relative;
    left: 11px;
    top: 3px;
}

.left-board-header button:hover,
.right-board-header button:hover {
    background: #29ABE2;
    border: solid 1px #29ABE2;
    box-shadow: 0 4px 4px 0px rgb(0 0 0 / 25%);
}

.left-board-header button:active,
.right-board-header button:active {
    background: #091931;
    border: solid 1px #091931;
    box-shadow: none;
}

.board-middle {
    display: flex;
    justify-content: center;
    padding: 0 60px;
    align-items: flex-start;
    gap: 30px;
    color: #42526E;
    font-weight: bold;
    width: 100%;
    max-width: 1440px;
}

.boards {
    flex: 1;
}

.boards .board-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boards .board-title h3 {
    font-size: 20px;
}

.boards .board-title .icon-add {
    border: solid 2px #2A3647;
    color: #2A3647;
    font-size: 11px;
    line-height: 0;
    border-radius: 8px;
    padding: 4.5px;
    cursor: pointer;
}

.boards .board-title .icon-add:hover {
    color: #29ABE2;
    border: solid 2px #29ABE2;
}

.boards .board-title .icon-add:active {
    color: #091931;
    border: solid 2px #091931;
}

.boards .board-title .icon-add::before {
    font-weight: bold;
}

.boards .board-tasks {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
    min-height: 400px;
}

.boards .board-tasks .no-tasks {
    text-align: center;
    background: #E7E7E7;
    border: dashed 1px #A8A8A8;
    border-radius: 15px;
    padding: 17px;
    color: #A8A8A8;
    font-weight: 400;
}

.media-query {
    display: none;
}

.dragging {
    opacity: 1;
    transform: rotate(10deg);
    position: absolute;
}

.dragging-target-area {
    border-radius: 30px;
    border: dashed 1px #A8A8A8;
}

/* Scrollbars for Adding Task, Showing Task and Editing Task*/
.edit-task .edit-task-form-column::-webkit-scrollbar,
.task-detail .task-detail-body::-webkit-scrollbar,
.form-row::-webkit-scrollbar {
    width: 7px;
}

.edit-task .edit-task-form-column::-webkit-scrollbar-track,
.task-detail .task-detail-body::-webkit-scrollbar-track,
.form-row::-webkit-scrollbar-track {
    background: #ffffff;
}

.edit-task .edit-task-form-column::-webkit-scrollbar-thumb,
.task-detail .task-detail-body::-webkit-scrollbar-thumb,
.form-row::-webkit-scrollbar-thumb {
    background: #d8d6d6;
    border-radius: 8px;
}

.edit-task .edit-task-form-column::-webkit-scrollbar-thumb:hover,
.task-detail .task-detail-body::-webkit-scrollbar-thumb:hover,
.form-row::-webkit-scrollbar-thumb:hover {
    background: #999999;
}

.add-task-overlay-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100dvh;
    z-index: -1;
    background: rgb(0 0 0 / 0%);
    overflow: hidden;
    transition: all 0.5s ease;
}

.add-task-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border-radius: 20px;
    transition: all 0.5s ease;
    transform: translateX(200%);
    margin: 0 20px;
    z-index: 1000;
}

.close-add-task {
    position: absolute;
    right: 0;
    margin: 24px;
    font-size: 12px;
    cursor: pointer;
}

.form-column.left {
    min-width: 370px;
}

.form-column.right {
    min-width: 370px;
}

.detail-priority-container {
    display: flex;
    align-items: center;
}

.detail-priority-container .icon {
    line-height: 1;
    font-size: 14px;
}

/* task cards */
.task-view {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08);
    padding: 20px;
    border-radius: 26px;
    cursor: pointer;
    background-color: white;
    user-select: none;
    transition: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-view h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0;
}

.task-view p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(168, 168, 168);
    margin: 10px 0;
}

.userStory {
    color: white;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    border-radius: 8px;
    padding: 6px 18px;
    margin: 10px 0px 26px;
}

.progress {
    background-color: #e9ecef;
    border-radius: 5px;
    width: 80%;
    height: 18px;
}

.progress-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.progress {
    background-color: #e9ecef;
    border-radius: 5px;
    width: 60%;
    height: 8px;
    overflow: hidden;
}

.progress-bar {
    background-color: #007bff;
    height: 100%;
    width: 50%;
}

.progress-text {
    font-size: 12px;
}

.task-contributors {
    display: flex;
    align-items: center;
}

.task-contributors .contributor:first-child {
    margin-left: 0;
}

.contributor-listing .icon {
    font-size: 20px;
    line-height: 0;
}

.contributor {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    font-weight: 400;
    margin-left: 5px;
    border: 2px solid white;
}

.contributor-listing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.board-page-form-row {
    overflow-y: auto;
    max-height: 45vh;
}