.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 60px;
}

.right-board-header {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.board-header h1 {
    font-size: 50px;
}

.right-board-header input {
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    height: 30px;
    width: 350px;
    font-size: 20px;
    outline: none;
    padding: 24px 79px 24px 15px;
}

.right-board-header input:focus {
    border: 1px solid #29ABE2;
}

.right-board-header input::placeholder {
    color: #D1D1D1;
}

.search-label {
    position: relative;
}

.search-label span {
    border-left: 1px solid #D1D1D1;
    position: relative;
    right: 65px;
    padding: 8px 0 6px;
}

.search-label .icon-search {
    position: absolute;
    top: 16px;
    right: 25px;
    font-size: 18px;
}

.right-board-header button {
    background: #2A3647;
    color: #fff;
    border-radius: 10px;
    padding: 0px 31px 0px 16px;
    font-size: 20px;
    cursor: pointer;
    border: solid 1px #2A3647;
    transition: all 0.1s ease;
    outline: none;
    font-weight: 600;
}

.right-board-header button::after {
    font-family: "join-icon";
    font-weight: 100;
    content: "\61";
    position: relative;
    left: 11px;
    top: 3px;
}

.right-board-header button:hover {
    background: #29ABE2;
    border: solid 1px #29ABE2;
    box-shadow: 0 4px 4px 0px rgb(0 0 0 / 25%);
}

.right-board-header button:active {
    background: #091931;
    border: solid 1px #091931;
    box-shadow: none;
}

/* middle board */

.board-middle {
    display: flex;
    justify-content: center;
    padding: 0 60px;
    align-items: flex-start;
    gap: 35px;
    color: #42526E;
    font-weight: bold;
}

.boards {
    flex: 1;
}

.boards .board-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boards .board-title h3 {
    font-size: 20px;
}

.boards .board-title .icon-add {
    border: solid 2px #2A3647;
    color: #2A3647;
    font-size: 11px;
    line-height: 0;
    border-radius: 8px;
    padding: 4.5px;
    cursor: pointer;
}

.boards .board-title .icon-add:hover {
    color: #29ABE2;
    border: solid 2px #29ABE2;
}

.boards .board-title .icon-add:active {
    color: #091931;
    border: solid 2px #091931;
}

.boards .board-title .icon-add::before {
    font-weight: bold;
}

.boards .board-tasks {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
    min-height: 400px;
}

.boards .board-tasks .no-tasks {
    text-align: center;
    background: #E7E7E7;
    border: dashed 1px #A8A8A8;
    border-radius: 15px;
    padding: 17px;
    color: #A8A8A8;
    font-weight: 400;
}

.media-query {
    display: none;
}

@media (max-width: 1076px) {
    .right-board-header input {
        margin-left: 30px;
    }

    .right-board-header button {
        font-size: 13px;
    }
}

@media (max-width: 1044px) {
    .board-middle {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1038px) {
    .right-board-header button {
        font-size: 11px;
    }
}

@media (max-width: 833px) {

    .right-board-header input {
        margin-left: 0;
    }

    .board-header {
        flex-direction: column;
    }

    .right-board-header {
        flex-direction: column-reverse;

    }

    .right-board-header button {
        width: 400px;
    }

    .media-query {
        display: block;
    }

    .media-query p {
        display: none;
    }

    .mobile-d-none {
        display: none;
    }

    .search-label .icon-search {
        right: 27px;
        font-size: 17px;
    }

    .search-label {
        display: flex;
        justify-content: center;
    }

    .right-board-header button {
        width: 20px;
        height: 40px;
    }
}

@media (max-width: 486px) {
    .board-header h1 {
        font-size: 40px;
    }

    .right-board-header input {
        width: 95%;
    }
}

.dragging {
    opacity: 1;
    transform: rotate(10deg);
    position: absolute;
}

.dragging-target-area {
    border-radius: 30px;
    border: dashed 1px #A8A8A8;
}