.contact-detail {
    display: flex;
    flex-direction: column;
}

.contact-details-header {
    display: flex;
    align-items: center;
    padding: 90px 30px 30px 60px;
}

.contacts {
    font-size: 61px;
    font-weight: 700;
    margin-right: 25px;
    line-height: 73.2px;
}

.contact-details-sep-line {
    border-left: 3px solid #29ABE2;
    height: 58px;
    display: inline-block;
    margin-right: 25px;
}

.contact-details-sep-line-responsive {
    display: none;
}

.contact-details-slogan {
    font-size: 27px;
    line-height: 32.4px;
    font-weight: 400;
    padding-top: 5px;
}

.contact-information {
    display: flex;
    gap: 50px;
    margin: 30px 30px 30px 60px;
}

.contact-detail-profile {
    width: 120px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 50%;
    color: white;
    font-size: 47px;
    line-height: 56.4px;
    text-align: center;
    font-weight: 500;
}

.contact-name {
    font-size: 47px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.contact-detail-arrow-left-responsive {
    height: 100px;
    display: none;
    position: fixed;
    right: 25px;
}

.contact-detail-arrow-left-responsive img {
    cursor: pointer;
}

.contact-detail-arrow-left-responsive img:hover {
    transform: scale(1.1);
}

.contact-detail-btn-wrapper {
    display: flex;

}

.contact-detail-btn {
    font-size: 16px;
    font-weight: 400;
    margin-right: 15px;
    height: 24px;
    border: unset;
    display: flex;
    gap: 8px;
    background-color: #F6F7F8;
    font-family: 'Inter';
    align-items: center;
    cursor: pointer;
}

.contact-detail-btn:hover {
    color: #29ABE2;
}

.contact-detail-btn:hover img {
    filter: brightness(0) saturate(100%) invert(60%) sepia(35%) saturate(971%) hue-rotate(155deg) brightness(90%) contrast(95%);
}

.contact-access {
    margin-left: 60px;
}

.contact-access h3 {
    font-size: 20px;
    font-weight: 400;
    padding: 40px 0 20px 0;
}

.contact-details-access p {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contact-details-access a {
    text-decoration: none;
    color: #007CEE;
}

.contact-details-access a:hover {
    color: #29ABE2;
}

.edit-delete-btn-responsive {
    display: none;
}

.slide-in-content {
    display: none;
}