.contact-list {
    width: 440px;
    overflow-y: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0px 6px 0px #00000014;
}

.contact-list::-webkit-scrollbar {
    width: 8px;
}

.contact-list::-webkit-scrollbar-track {
    background: #ffffff;
}

.contact-list::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 8px;
}

.contact-list::-webkit-scrollbar-thumb:hover {
    background: #999999;
}

.contact-list-add-button-wrapper {
    top: 0;
    position: sticky;
    z-index: 10;
    background-color: white;
    display: flex;
    justify-content: center;
}

.contact-list-add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 352px;
    gap: 16px;
    border-radius: 10px;
    padding: 12px 16px;
    border: 1px;
    background-color: #2A3647;
    color: white;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
    cursor: pointer;
    margin: 32px 0 32px 28px;
}

.contact-list-add-btn img {
    width: 32px;
    height: 32px;
}

.contact-list-add-btn:hover {
    background-color: #29ABE2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.contact-list-add-btn:active {
    background-color: #091931;
    transition: 100ms ease-in-out;
}

.contact-list-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 24px 32px 24px;
    position: relative;
    left: 28px;
    width: 352px;
}

.contact-list-list {
    width: 352px;
}

.contact-list-letter {
    font-size: 20px;
    line-height: 24px;
    padding: 17px 36px;
    width: 280px;
}

.contact-list-hr {
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    margin: 8px 0;
    width: 350px;
}

.contact-list-contact {
    display: flex;
    border-radius: 10px;
    padding: 15px 24px;
    gap: 35px;
    cursor: pointer;
}

.contact-list-contact:hover {
    background-color: rgba(249, 249, 249, 1);
    background-image: linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(240, 240, 240, 1) 100%);
}

.contact-list-contact-active {
    background-color: #2A3647 !important;
    background-image: none !important;
    color: white;
}

.contact-list-profile {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    line-height: 14.4px;
    text-align: center;
    font-weight: 400;
}

.contact-list-contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-list-contact-info p {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}

.contact-list-contact-info a {
    font-size: 16px;
    line-height: 19.2px;
    color: #007CEE;
    text-decoration: none;
}

.contact-list-contact-info a:hover {
    color: #29ABE2;
}