@media (max-width: 960px) {
    .login-logo-after-init {
        height: 60px !important;
        top: 32px !important;
        left: 32px !important;
    }
}

@media (max-width: 860px) {
    .login-logo-after-init {
        height: 48px !important;
        top: 24px !important;
        left: 24px !important;
    }

    .header-right {
        padding: 32px;
    }

    .login-form {
        padding: 32px 60px;
    }
}

@media (max-width: 600px) {
    .login-form .go-back {
        left: -20px;
    }
}

@media (max-width: 460px) {
    .header-right {
        position: absolute;
        bottom: 52px;
        width: 100%;
        padding: 0;
        justify-content: center;
    }

    .login-form {
        padding: 32px 30px;
    }

    .login-form .go-back {
        left: 0;
    }

    .login-form .login-form-title h1 {
        font-size: 42px;
    }

    .footer-login {
        width: 100%;
        align-items: center;
        margin-top: 0;
        gap: 20px;
    }

    .footer-login label {
        align-self: flex-start;
        font-size: 14px;
    }

    .button-container {
        flex-direction: column;
        gap: 16px;
        width: fit-content;
    }

    .login-button {
        width: 100%;
    }

    #signup-form .footer-login {
        margin-top: 0;
    }

    footer {
        padding: 12px 0 24px;
    }
}

@media (max-width: 360px) {
    .login-form {
        padding: 32px 16px;
    }
}

@media (max-height: 668px) {
    .login-logo-after-init {
        height: 32px !important;
    }
}