@font-face {
    font-family: 'Inter';
    src: url(../fonts/inter/Inter-VariableFont_opsz\,wght.ttf);
}

* {
    font-family: 'Inter';
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #f6f7f8;
    display: flex;
    flex-direction: column;
}

.d-none {
    display: none !important;
}

.c-pointer{
    cursor: pointer;
}

.logo-wrapper {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 10;
    transition: all 0.8s ease;
}

.logo-wrapper-after-init {
    z-index: 0;
    background: none;
}

.login-logo {
    height: 300px;
    transition: all 0.8s ease;
    position: absolute;
}

.login-logo-after-init {
    height: 100px !important;
    top: 70px !important;
    left: 70px !important;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 1;
    transition: all 0.8s ease;
    opacity: 0;
}

.header-right span {
    font-size: 17px;
}

.header-right button {
    border-radius: 3px;
    color: white;
    padding: 5px;
    margin: 5px;
}

.header-right button {
    background-color: #2a3647;
    border: solid 1px #2a3647;
    font-size: 13px;
    padding: 11px 13px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.header-right button:hover {
    background-color: #29ABE2;
    border: solid 1px #29ABE2;
    box-shadow: 0 4px 4px 0px rgb(0 0 0 / 25%);
    color: white;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 45px 110px;
    align-items: center;
}

main {
    flex: 1;
    transition: all 0.8s ease;
    opacity: 0;
}

.login-form {
    background-color: white;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 26px;
    align-items: center;
    padding: 45px 100px;
    box-shadow: 0px 2px 3px 0px #0000001a;
    width: 72%;
    max-width: 356px;
}

.login-form .login-form-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.login-form .go-back {
    width: 32px;
    position: absolute;
    top: 15px;
    cursor: pointer;
    border-radius: 50%;
    left: -40px;
}

.login-form .go-back:hover {
    background-color: #ebebeb;
}

.login-form .login-form-title h1 {
    font-size: 50px;
    padding: 0 0 10px 0;
    margin: 0;
}

.login-form .login-form-title div {
    border-bottom: 3px solid #29ABE2;
    width: 120px;
}

.form-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
}

#signup-form .form-elements {
    gap: 6px;
}

.form-elements input {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    padding: 11px 20px;
}

.form-elements input::placeholder {
    color: #D1D1D1;
}

.name-label,
.email-label,
.password-label {
    position: relative;
}

.name-label span.icon,
.email-label span.icon {
    color: #A8A8A8;
    position: absolute;
    font-size: 16px;
    top: 13px;
    right: 21px;
}

.password-label span.icon {
    color: #A8A8A8;
    position: absolute;
    font-size: 18px;
    top: 11px;
    right: 19px;
}

.input-error {
    border: 1px solid #FF001F !important;
}

.form-elements span.error,
.footer-login span.privacy-error {
    color: #FF8190;
    font-size: 11px;
    margin-top: 4px;
    padding-left: 8px;
    display: inline-block;
    height: 10px;
    box-sizing: border-box;
}

.footer-login label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #2a3647;
}

.footer-login .custom-checkbox {
    display: flex;
    align-items: center;
}

.footer-login input[type="checkbox"] {
    display: none;
}

.footer-login .checkbox-img {
    width: 18px;
    height: 18px;
    display: inline-block;
}

.footer-login .checked-button {
    display: none;
}

.footer-login input[type="checkbox"]:checked+.custom-checkbox .unchecked-button {
    display: none;
}

.footer-login input[type="checkbox"]:checked+.custom-checkbox .checked-button {
    display: inline-block;
}

.footer-login .accept {
    color: #A8A8A8;
}

.footer-login .accept a {
    color: #29ABE2;
    text-decoration: none;
}

.footer-login .accept.error {
    color: #FF8190;
}

.footer-login .accept.error a {
    color: #FF8190;
}

.footer-login .accept a:hover {
    text-decoration: underline;
}

.login-container {
    height: 100dvh;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.login-button {
    background-color: #2a3647;
    color: white;
    border-radius: 7px;
    padding: 9px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1.5px solid #2a3647;
    font-weight: bold;
    transition: all 0.2s ease;
}

.login-button:hover {
    background-color: #29ABE2;
    border: solid 1px #29ABE2;
    box-shadow: 0 4px 4px 0px rgb(0 0 0 / 25%);
    color: white;
}

.login-button:disabled {
    background: #A8A8A8;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    border: solid 1px #A8A8A8;
    transition: all 0.1s ease;
    outline: none;
    display: flex;
    align-items: center;
    cursor: not-allowed;
}

.login-button:disabled:hover {
    background-color: #A8A8A8;
    border: solid 1px #A8A8A8;
    box-shadow: none;
    color: white;
}

.guest-button {
    background-color: white;
    border-radius: 6px;
    padding: 10px 20px;
    border: 1.5px solid #2a3647;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #2a3647;
    transition: all 0.2s ease;
}

.guest-button:hover {
    color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 0 4px 4px 0px rgb(0 0 0 / 25%);
}

.footer-login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    align-items: flex-start;
    margin-top: 15px;
}

#signup-form .footer-login {
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    gap: 16px;
}

footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 13px;
    padding: 35px 0;
    z-index: 1;
    transition: all 0.8s ease;
    opacity: 0;
}

footer a {
    color: #A8A8A8;
    text-decoration: none;
}

footer a:hover {
    color: #29ABE2;
}