@media (max-width: 800px) {
    .main {
        position: relative;
    }

    .summary-header {
        padding: 40px 60px;
    }

    .summary-content {
        padding: 0;
        width: 100%;
    }

    .metrics {
        width: 100%;
        padding: 0 60px 40px;
    }

    .greeting-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 90;
        background-color: #f6f7f8;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: opacity 1s ease;
    }

    .greeting-container.hidden {
        opacity: 0;
        pointer-events: none;
    }

    .greeting-container.no-show {
        display: none;
    }
}

@media (max-width: 666px) {
    .summary-header {
        padding: 40px;
    }

    .metrics {
        width: 100%;
        padding: 0 40px 40px;
    }
}

@media (max-width: 620px) {
    .summary-header {
        flex-direction: column;
        align-items: start;
        gap: 4px;
        padding: 40px 40px 32px;
    }

    .summary-header .divider {
        display: none;
    }

    .divider-responsive {
        width: 112px;
        height: 2px;
        margin-top: 12px;
        background-color: #29ABE2;
    }

    .urgent, 
    .metric-data-date {
        gap:20px;
    }
}

@media (max-width: 450px) {
    .summary-header {
        padding: 20px
    }

    .metrics {
        padding: 0 20px 20px;
        gap: 12px;
    }

    .metric-row {
        gap: 8px;
    }

    .metric-tile {
        padding: 12px;
    }
}